$linkColor: #C6B3DE;

.dropdown-icon {
  text-align: center;
}

input:focus {
  background-color: white;
}

.navbar {
  background-color: #222F5F;
  height: 4em;
  width: 100%;
}

.navbar-dropdown {
  background-color: #253564;
  float: right;
  height: 100%;
  width: 10%;

  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;

  &:hover {
    background: #A791C9;
  }
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    a {
      background: #253566;
      color: $linkColor;
      display: block;
      line-height: 70px;
      padding: 0 20px;
      text-decoration: none;
      transition: .5s;
      -o-transition: .5s;
      -ms-transition: .5s;
      -moz-transition: .5s;
      -webkit-transition: .5s;

      &:hover {
        background: #A791C9;
        color: $linkColor;
      }

      &:not(:only-child):after {
        padding-left: 4px;
        content: ' x ';
      }
    }
  }
}

.navbar-search {
  display: inline-block;
  height: 1em;
  text-align: center;
  width: 90%;
}

.search-field {
  background-color: #2F3437;
  border: 1px solid #2F3437;
  border-radius: 25px;
  font-size: 2em;
  text-align: center;
  margin-top: .25em;
  width: 30%;
}

